<html class="dark">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ytclipper</title>
    <link rel="icon" href="/static/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/toastr.min.css" />
    <link rel="stylesheet" href="/static/css/video-js.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/utilities.css">
    <script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
    <script type="module" src="/static/scripts/main.js"></script>
    <script type="module" src="/static/scripts/utils.js"></script>
    <script type="module" src="/static/scripts/api.js"></script>
    <script type="module" src="/static/scripts/ui.js"></script>
    <script type="text/javascript" src="/static/scripts/toastr.min.js"></script>
</head>

<body class="dark">
    <div class="flex flex-col items-center justify-center w-100 h-100">
        <div id="searchGroup" class="flex flex-col items-center justify-center w-100 h-90">
            <div class="main-card pb-14 flex flex-col w-auto">
                <h1 class="title">ytclipper</h1>
                <div class="flex flex-row items-center">
                    <input autocomplete="off" class="input mr-3" type="text" id="url" placeholder="Paste your youtube url here." title="Only valid youtube links will work" />
                    <button id="previewButton" class="button">
                        <img class="white-icon" src="/static/icons/eye.svg" alt="Icon description" />
                    </button>
                </div>
                <div id="videoPlayerWrapper" class="hidden pb-5 pt-5 w-full">
                    <video id="videoPlayer" class="video-js vjs-default-skin" controls autoplay style="width: 100%; height: auto; max-width: 640px; aspect-ratio: 16/9;"></video>
                </div>

                <div id="format-wrapper" disabled class="pb-3 pt-3">
                    <select id="formatSelect" class="input" disabled>
                        <option value="">Select format...</option>
                    </select>
                </div>

                <div class="flex w-full pb-3 pt-1" style="gap: var(--spacing-md);">
                    <input step="1" autocomplete="off" class="input" type="text" id="from" placeholder="from*" title="Provide timestamps as HH:MM:SS." />
                    <input step="1" autocomplete="off" class="input" type="text" id="to" placeholder="to*" title="Provide timestamps as HH:MM:SS." />
                </div>
                <button id="clipButton" class="button">Clip!</button>
                <p class="text-gray pt-1 pl-1">* Please provide timestamps as hh:mm:ss (e.g. 34, 1:28, 1:01:24)</p>
                <div id="progressBarWrapper" class="hidden pt-3">
                    <div id="progress" class="progress">
                        <div id="progressBar" class="progress-bar-custom"></div>
                    </div>
                </div>
                <div id="downloadLinkWrapper" class="hidden pt-3 pl-1 flex flex-col">
                    <span class="text-gray">
                        If the download didn't pop up automatically, you can download the file
                        <a class="text-blue" id="downloadLink">here</a>.
                    </span>
                </div>
            </div>
        </div>
        <div class="footer flex items-end justify-end pb-3 pr-3 h-5">
            <label class="text-gray pr-3 pt-1">DarkMode</label>
            <label class="switch">
                <input type="checkbox" name="enableDarkMode" checked id="themeSlider"/>
                <span class="slider round"></span>
            </label>
        </div>
    </div>

    <script src="/static/scripts/video.min.js"></script>
    <script src="/static/scripts/Youtube.min.js"></script>
</body>
</html>
